### Styling and imports

In [9]:
%%html
<style>
    .purple {
        background-color: #e6ccff;
    }
    .green {
        background-color: #99ffdd;
    }
    .blue {
        background-color: #b3f0ff;
    }
    .yellow{
        background-color: #ffffb3;
    }
    .center {
        text-align: center;
    }
    .small-padding {
        padding: 5px;
    }
    .extra-padding {
        padding: 20px;
    }
</style>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from datetime import datetime, timedelta
import time
import json
import statistics
import seaborn as sns
import csv

<div class="green extra-padding">
<h1 class="center">Our question: What is the impact of air pollution and how can we improve air quality in the London Borough of Hammersmith and Fulham?</h1>
<strong>In this analysis:</strong>
<ol>
<li>What factors are impacting air pollution? E.g. times of day, month, traffic, weather, location- urban/roadside etc</li>
<li>What is the impact of air pollution on our health and the NHS?</li>
<li>What has been the impact of schemes such as ULEZ and Covid on reducing air pollution and how can this inform future policies?</li>
</ol>
</div>

<div class="yellow extra-padding">
    <h2>What factors are impacting air pollution?</h2>
</div>

<div class="purple small-padding">
    <h3>Fetch data from API and save to CSV</h3>
</div>

In [ ]:
# These sections are commented out as the data has already been retrieved using the API
# Please load data from the saved csv 
# To test the API response, please enter and API key below

# Hammersmith coords for school near A4
# lat= '51.493096'
# lon= '-0.224079'

# API = 'ADD_API_KEY_HERE'

# # Past 3 years 
# end_date = datetime(2024, 1, 1, 12, 00, 00)
# start_date = end_date - timedelta(days=1095)

# start = int(start_date.timestamp())
# end = int(end_date.timestamp())

# response = requests.get(f'http://api.openweathermap.org/data/2.5/air_pollution/history?lat={lat}&lon={lon}&start={start}&end={end}&appid={API}')


# # Check response success
# if response.status_code == 200:
#     data = response.json()
# else:
#     print(f"Error: {response.status_code}")

In [ ]:
# Data already saved
# file_path = "../data_unclean/air_pollution_data_hammersmith_3_years.csv"

# def save_to_csv(response, file_path):
#     records = []
#     for entry in response['list']:
#         record = {
#             "date_time": entry["dt"],
#             "aqi": entry["main"]["aqi"],
#             "co": entry["components"]["co"],
#             "no": entry["components"]["no"],
#             "no2": entry["components"]["no2"],
#             "o3": entry["components"]["o3"],
#             "so2": entry["components"]["so2"],
#             "pm2_5": entry["components"]["pm2_5"],
#             "pm10": entry["components"]["pm10"],
#             "nh3": entry["components"]["nh3"],
#         }
#         records.append(record)
#     aq_df = pd.DataFrame(records)
#     path = file_path
#     aq_df.to_csv(path, index=False)
#     return aq_df

# save_to_csv(response.json(), file_path)

<div class="purple small-padding">
    <h3>Load data from CSV</h3>
</div>

In [6]:
air_quality_hammersmith = pd.read_csv('../data_unclean/air_pollution_data_hammersmith_3_years.csv')
air_quality_hammersmith.head(10)

    date_time  aqi      co     no    no2    o3    so2  pm2_5   pm10   nh3
0  1609502400    2  320.44  13.19  46.61  2.33  28.61  16.74  17.83  1.98
1  1609506000    2  323.77  15.65  43.87  2.12  24.08  16.56  17.74  1.44
2  1609509600    2  323.77  17.43  43.18  1.43  21.22  15.27  16.50  1.24
3  1609513200    2  327.11  18.33  44.55  0.65  19.31  13.24  14.59  1.03
4  1609516800    2  330.45  17.43  45.93  0.10  17.41  10.69  12.15  0.82
5  1609520400    2  323.77  14.53  47.30  0.04  15.74   7.85   9.31  0.71
6  1609524000    2  310.42  11.06  49.35  0.26  14.66   6.31   7.63  0.66
7  1609527600    2  307.08   8.61  50.72  0.68  15.14   6.21   7.32  0.62
8  1609531200    2  310.42   6.87  49.35  1.11  15.74   6.32   7.38  0.59
9  1609534800    2  303.75   4.92  45.24  1.97  15.14   6.00   7.15  0.56

In [7]:
air_quality_hammersmith.tail(10)

        date_time  aqi      co    no    no2     o3   so2  pm2_5  pm10   nh3
26007  1704078000    2  233.65  0.00   2.25  67.23  1.42   0.50  0.83  0.20
26008  1704081600    2  233.65  0.00   2.46  67.23  1.61   0.50  0.86  0.21
26009  1704085200    2  233.65  0.00   2.78  66.52  1.86   0.50  0.90  0.24
26010  1704088800    2  233.65  0.00   3.47  67.23  2.21   0.50  0.93  0.29
26011  1704092400    2  240.33  0.00   6.17  65.80  3.13   0.55  1.07  0.40
26012  1704096000    2  240.33  0.00   9.42  63.66  3.87   0.72  1.39  0.52
26013  1704099600    2  240.33  0.01  10.88  64.37  4.29   0.81  1.65  0.62
26014  1704103200    2  236.99  0.08  10.37  70.10  4.29   0.80  1.69  0.67
26015  1704106800    2  236.99  0.21   9.08  75.10  3.99   0.68  1.44  0.67
26016  1704110400    2  233.65  0.30   7.97  77.96  3.61   0.57  1.13  0.63

<div class="purple small-padding">
    <h3>Change datetime to readable format</h3>
</div>

In [ ]:
air_quality_hammersmith['date_time'] = pd.to_datetime(air_quality_hammersmith['date_time'], unit='s')
air_quality_hammersmith.head(10)

In [8]:
air_quality_hammersmith.tail(10)

        date_time  aqi      co    no    no2     o3   so2  pm2_5  pm10   nh3
26007  1704078000    2  233.65  0.00   2.25  67.23  1.42   0.50  0.83  0.20
26008  1704081600    2  233.65  0.00   2.46  67.23  1.61   0.50  0.86  0.21
26009  1704085200    2  233.65  0.00   2.78  66.52  1.86   0.50  0.90  0.24
26010  1704088800    2  233.65  0.00   3.47  67.23  2.21   0.50  0.93  0.29
26011  1704092400    2  240.33  0.00   6.17  65.80  3.13   0.55  1.07  0.40
26012  1704096000    2  240.33  0.00   9.42  63.66  3.87   0.72  1.39  0.52
26013  1704099600    2  240.33  0.01  10.88  64.37  4.29   0.81  1.65  0.62
26014  1704103200    2  236.99  0.08  10.37  70.10  4.29   0.80  1.69  0.67
26015  1704106800    2  236.99  0.21   9.08  75.10  3.99   0.68  1.44  0.67
26016  1704110400    2  233.65  0.30   7.97  77.96  3.61   0.57  1.13  0.63

<div class="purple small-padding">
    <h3>Load Weather Data (retrieved from Open Meteo)</h3>
</div>

In [10]:
weather_data = pd.read_csv('../data_unclean/weather_hammersmith.csv')
weather_data.head(10)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,time,temperature_2m (°C),relative_humidity_2m (%),precipitation (mm),rain (mm),snowfall (cm),surface_pressure (hPa),wind_speed_10m (km/h),wind_speed_100m (km/h),wind_direction_10m (°)
0,2021-01-01T00:00,-0.1,96,0.0,0.0,0.0,1007.8,3.8,7.6,253
1,2021-01-01T01:00,-0.7,97,0.0,0.0,0.0,1008.0,4.7,10.5,261
2,2021-01-01T02:00,-1.1,98,0.0,0.0,0.0,1008.3,5.0,12.7,270
3,2021-01-01T03:00,-1.7,97,0.0,0.0,0.0,1008.7,6.1,14.0,270
4,2021-01-01T04:00,-2.3,97,0.0,0.0,0.0,1008.7,6.9,14.7,279
5,2021-01-01T05:00,-1.5,97,0.0,0.0,0.0,1008.8,5.2,14.0,282
6,2021-01-01T06:00,-0.9,98,0.0,0.0,0.0,1008.8,6.5,13.0,270
7,2021-01-01T07:00,-1.1,100,0.0,0.0,0.0,1009.4,7.6,14.2,275
8,2021-01-01T08:00,-1.0,99,0.0,0.0,0.0,1009.8,8.8,12.9,282
9,2021-01-01T09:00,-0.9,97,0.0,0.0,0.0,1010.2,9.1,11.9,279

In [11]:
weather_data.time = pd.to_datetime(weather_data.time)
weather_data.head(10)

,time,temperature_2m (°C),relative_humidity_2m (%),precipitation (mm),rain (mm),snowfall (cm),surface_pressure (hPa),wind_speed_10m (km/h),wind_speed_100m (km/h),wind_direction_10m (°)
0,2021-01-01 00:00:00,-0.1,96,0.0,0.0,0.0,1007.8,3.8,7.6,253
1,2021-01-01 01:00:00,-0.7,97,0.0,0.0,0.0,1008.0,4.7,10.5,261
2,2021-01-01 02:00:00,-1.1,98,0.0,0.0,0.0,1008.3,5.0,12.7,270
3,2021-01-01 03:00:00,-1.7,97,0.0,0.0,0.0,1008.7,6.1,14.0,270
4,2021-01-01 04:00:00,-2.3,97,0.0,0.0,0.0,1008.7,6.9,14.7,279
5,2021-01-01 05:00:00,-1.5,97,0.0,0.0,0.0,1008.8,5.2,14.0,282
6,2021-01-01 06:00:00,-0.9,98,0.0,0.0,0.0,1008.8,6.5,13.0,270
7,2021-01-01 07:00:00,-1.1,100,0.0,0.0,0.0,1009.4,7.6,14.2,275
8,2021-01-01 08:00:00,-1.0,99,0.0,0.0,0.0,1009.8,8.8,12.9,282
9,2021-01-01 09:00:00,-0.9,97,0.0,0.0,0.0,1010.2,9.1,11.9,279

<div class="purple small-padding">
    <h3>Merge weather and air quality data and get overview</h3>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="blue small-padding">
    <strong>Observations</strong>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ul>
</div>

<div class="yellow extra-padding">
    <h2>What is the impact of air pollution on our health and the NHS?</h2>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="yellow extra-padding">
    <h2>What has been the impact of schemes such as ULEZ and Covid on reducing air pollution and how can this inform future policies?</h2>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="purple small-padding">
    <h3>Second class heading</h3>
</div>

<div class="purple extra-padding">
    <h3>Second class heading</h3>
</div>

<div class="blue small-padding">
    <strong>Observations</strong>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ul>
</div>

<div class="blue small-padding">
    <strong>Observations</strong>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ul>
</div>

<div class="blue small-padding">
    <strong>Observations</strong>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ul>
</div>

<div class="blue small-padding">
    <strong>Observations</strong>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ul>
</div>

<div class="blue small-padding">
    <strong>Observations</strong>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ul>
</div>

<div class="blue small-padding">
    <strong>Observations</strong>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ul>
</div>

<div class="blue extra-padding">
    <strong>Observations</strong>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
    </ul>
</div>